@import "./index.css";

.footer {
    text-align: center;
    margin-top: 3rem;
 }

 .footer__divider {
    background-color: var(--red);
    padding-top: 20px;
    padding-bottom: 20px;
 }

 .footer img {
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 100px;
 }
